<div id="statusPage" data-role="page">
    <div data-role="controlgroup">
      
        <%if (this[0].tiempo[0]==1){%>
        <div id="luzVerde" <%=function(element){
            
             element.style.backgroundColor = 'green'
                }%> >Con este está todo legal</div
              <%}else {%>
           
      
        <div id="luzRoja" <%=function(element){
            element.style.backgroundColor = 'red'}%>>Con este todo mal

            <%for (var attr in this[0])
		{%>
			<label><%=attr%></label>
			<div><%=this[0][attr]%></div>
		<%}
	     %>
        </div>


                 <%}
	%>
        </div>
</div>

<label>Patente: <%=this[0].patente%></label>
		<a data-role="button">Registrar?</a>


