<div id="statusPage" data-role="page">
    <div data-role="controlgroup">
      <div style=<%="{background-color="orange"}"%>sjaknak</div>
        <%if ((this[0].tiempo[0]==0)){%>
        <div id="luzVerde" <%=function(element){
            
             element.style.backgroundColor = '00FF00'
                }%> ><h1>Usuario en regla</h1>
						<p>Le quedan <%=this[0].tiempo[3]%> minutos</p>
                </div>
              <%}else {%>
           
      
        <div id="luzRoja" <%=function(element){
            element.style.backgroundColor = 'red'}%>>Con este todo mal

            <%for (var attr in this[0])
		{%>
			<label><%=attr%></label>
			<div><%=this[0][attr]%></div>
		<%}
	     %>
        </div>


                 <%}
	%>
        </div>
</div>

<label>Patente: <%=this[0].patente%></label>
		<a data-role="button">Registrar?</a>


