<div id="statusPage" data-role="page">
    <div data-role="controlgroup">
      
        <%if ((this[0].tiempo[0]==0)&&(tiempo[1]==0)&&(tiempo[2]==0)){%>
        <div id="luzVerde" data-role="controlgroup" <%=function(element){
            
             element.style.backgroundColor = '00FF00'
             
                }%> ><h1>Usuario en regla</h1>
                    <h3>Marca del auto</h3>
                     <%=this[0].marca%>
                    <h3>Numero de Patente</h3>
                      <%=this[0].patente%>

			<p>Le quedan <%=this[0].tiempo[3]%> minutos</p>
                </div>
              <%}else {%>
           
      
        <div id="luzRoja" data-role="controlgroup" <%=function(element){
            element.style.backgroundColor = 'red'}%>>
        <h1>Patente en infraccion</h1>
           <a data-role="button">Registrar multa</a>

        </div>


                 <%}
	%>
        </div>
</div>

<label>Patente: <%=this[0].patente%></label>
		<a data-role="button">Registrar?</a>


