<% var total = 0 %>
<% for (var i=0; i < this.length; i++) { %>
<% total += parseInt(this[i].importe) %>
<tr>
        <td align="center"><%= this[i].patente %></td>
        <td align="center"><%= this[i].ingreso %></td>
        <td align="center"><%= this[i].egreso %></td>
        <td align="center"><%= this[i].importe %></td>
</tr>
<% }  %>
<tr>
    <td colspan="100%" align="center">
        <b>TOTAL DEBITADO : $ <%= total %></b>
    </td>
</tr>